<app-page pageHeaderTitle="Users">
  <nz-row nzJustify="space-between">
    <nz-row>
      <button nz-button nzType="primary" (click)="addUserModalComponent.showModal()">
        <i nz-icon nzType="user-add"></i>
        Add user
      </button>
    </nz-row>
    <nz-row nzAlign="middle">
      <app-search (searchChanged)="searchChanged($event)"></app-search>
      <i nz-icon nzType="sync" class="reload-btn {{ loading ? 'reload-btn--reloading' : '' }}" (click)="reloadList()"></i>
    </nz-row>
  </nz-row>
  <nz-table
    [nzData]="users"
    [nzLoading]="loading"
    [nzFrontPagination]="false"
    class="users-list"
    nzBordered
  >
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Username</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="text-center">
        <i nz-icon nzType="user" class="user-avatar-icon {{ identity.id === user.id ? 'user-avatar-icon--me' : '' }}"></i>
      </td>
      <td>{{ user.id }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
      <td>
        <div class="actions">
          <div class="actions__action">
            <i nz-icon nzType="edit" (click)="openEditModal(user.id)"></i>
          </div>
          <div class="actions__action" *ngIf="identity.id !== user.id">
            <i
              nz-icon
              nzType="delete"
              nz-popconfirm
              nzPopconfirmTitle="Are you sure?"
              nzOkText="Yes"
              nzCancelText="Abort"
              (nzOnConfirm)="deleteUser(user.id)"
            ></i>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
</app-page>

<app-add-user-modal #addUserModalComponent (reloadList)="loadUsers()"></app-add-user-modal>
<app-edit-user-modal #editUserModalComponent [userId]="userId" (reloadList)="loadUsers()"></app-edit-user-modal>
