<nz-upload
  nzType="drag"
  [nzAction]="uploadUrl"
  [nzMultiple]="true"
  [nzAccept]="accept"
  (nzChange)="handleChange($event)"
  [(nzFileList)]="files"
  [nzShowUploadList]="false"
>
  <p class="ant-upload-drag-icon">
    <i nz-icon nzType="inbox"></i>
  </p>
  <p class="ant-upload-text">Klicken oder ziehen Sie die Datei in diesen Bereich, um sie hochzuladen</p>
</nz-upload>
<div class="uploaded-files">
  <div class="uploaded-files__file" *ngFor="let file of files">
    <div class="uploaded-files__file__inner">
      <i *ngIf="!file.imageKey" class="upload-icon" nz-icon nzType="loading"></i>
      <ng-container *ngIf="file.imageKey">
        <img [src]="file.imageKey | fileUrl:fileDirectoryType" style="width: 100%" />
        <div class="uploaded-files__file__inner__actions">
          <i nz-icon nzType="delete" (click)="removeImage(file)"></i>
        </div>
      </ng-container>
    </div>
  </div>
</div>

