@import "../../../../assets/styles/common";

.uploaded-files {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;

  &__file {
    width: 200px;
    height: 200px;
    padding: 10px;

    &__inner {
      width: 100%;
      height: 100%;
      border: 1px dashed #d9d9d9;
      background-color: #fafafa;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &__actions {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-black, .6);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: opacity .1s;

        i {
          color: $color-white;
          font-size: 20px;
          cursor: pointer;
        }
      }

      &:hover {
        .uploaded-files__file__inner__actions {
          z-index: 1000000;
          pointer-events: all;
          visibility: visible;
          opacity: 1;
        }
      }

      img {
        width: 90% !important;
        max-height: 100%;
        object-fit: cover;
      }
    }
  }
}
