<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input placeholder="Enter search text" [(ngModel)]="search" (ngModelChange)="searchChange()"/>
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search" (click)="searchChange()"></i></button>
</ng-template>
