<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  [nzOkLoading]="loading"
  [nzWidth]="800"
  [nzFooter]="modalFooter"
  (nzOnCancel)="closeModal()"
  (nzAfterClose)="afterCloseModal()"
>
  <nz-spin [nzSpinning]="loading">
    <div class="modal-content">
      <form *ngIf="form" [formGroup]="form" nz-form [appForm]="form" (ngSubmit)="submitForm()" id="add-edit-user-form">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="firstName">First name</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Field is required!">
            <input nz-input formControlName="firstName" id="firstName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastName">Last name</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Field is required!">
            <input nz-input formControlName="lastName" id="lastName" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="username">Username</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Field is required!">
            <input nz-input formControlName="username" id="username" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Field is required!">
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
    <ng-template #modalFooter>
      <nz-row nzJustify="end">
        <button
          nz-button
          nzType="default"
          (click)="resetPassword()"
          [disabled]="loading"
          *ngIf="isEdit"
        >Reset password</button>
        <button nz-button nzType="default" (click)="closeModal()" [disabled]="loading">Abort</button>
        <button nz-button nzType="primary" form="add-edit-user-form" [nzLoading]="loading">Save</button>
      </nz-row>
    </ng-template>
  </nz-spin>
</nz-modal>
