<app-page pageHeaderTitle="Kategorien">
  <nz-row nzJustify="space-between">
    <nz-row>
      <button nz-button nzType="primary" (click)="addCategoryModalComponent.showModal()">
        <i nz-icon nzType="folder-add"></i>
        Add category
      </button>
      <button nz-button nzType="default" style="margin-left: 8px;" (click)="resortCategoriesModalComponent.showModal()">
        <i nz-icon nzType="retweet" style="transform: rotate(90deg)"></i>
        Resort categories
      </button>
      <button nz-button nzType="default" style="margin-left: 8px;" (click)="toggleExpand()">
        <i nz-icon nzType="arrow-{{ areAllExpanded ? 'up' : 'down' }}" nzTheme="outline"></i>
        {{ areAllExpanded ? 'Hide all' : 'Expand all' }}
      </button>
    </nz-row>
    <nz-row nzAlign="middle">
      <app-search (searchChanged)="searchChanged($event)"></app-search>
      <i nz-icon nzType="sync" class="reload-btn {{ loading ? 'reload-btn--reloading' : '' }}" (click)="reloadList()"></i>
    </nz-row>
  </nz-row>
  <nz-table
    [nzData]="categories"
    [nzLoading]="loading"
    [nzFrontPagination]="false"
    class="categories-list"
    nzBordered
    #expandTable
  >
    <thead>
    <tr>
      <th nzWidth="100px"></th>
      <th>ID</th>
      <th nzWidth="250px">Name</th>
      <th>Description</th>
      <th>Created at</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of categories">
      <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
        <tr *ngIf="(item.parent && item.parent.expand) || !item.parent">
          <td>
            <img
              nz-image
              [nzSrc]="item.imageKey | fileUrl:fileDirectoryTypes.IMAGES"
              nzFallback="/assets/images/no-image.png"
              class="category-img"
              [alt]="item.name"
            >
          </td>
          <td>{{ item.id }}</td>
          <td
            [nzIndentSize]="item.level! * 20"
            [nzShowExpand]="item.children.length > 0"
            [(nzExpand)]="item.expand"
            (nzExpandChange)="collapse(mapOfExpandedData[data.key], item, $event)"
          >
            {{ item.name }}
          </td>
          <td [innerHTML]="item.description"></td>
          <td>{{ item.createdAt | datetimeFormat }}</td>
          <td>
            <div class="actions">
              <div class="actions__action">
                <i nz-icon nzType="edit" (click)="openEditModal(item.id)"></i>
              </div>
              <div class="actions__action">
                <i
                  nz-icon
                  nzType="delete"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure you want to remove this category with its nested categories?"
                  nzOkText="Yes"
                  nzCancelText="Abort"
                  (nzOnConfirm)="deleteCategory(item.id)"
                ></i>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
    </tbody>
  </nz-table>
</app-page>

<app-add-category-modal #addCategoryModalComponent (reloadList)="reloadList()"></app-add-category-modal>
<app-edit-category-modal
  #editCategoryModalComponent
  [categoryId]="categoryId"
  (reloadList)="reloadList()"
></app-edit-category-modal>
<app-resort-categories-modal #resortCategoriesModalComponent (reloadList)="reloadList()"></app-resort-categories-modal>
