@import "../../../assets/styles/common";

.page {
  &__inner {
    margin: 0 24px;

    &__header {
      margin: 0 0 24px 0;
      padding: 10px 0;
      border-bottom: 1px solid $color-gray-lighter;

      .ant-page-header-heading-title {
        font-size: 25px;
        line-height: unset;
      }
    }

    &__content {
      padding-bottom: 16px;
    }
  }
}
