<div class="page">
  <div class="page__inner">
    <nz-page-header
      class="page__inner__header"
      [nzTitle]="pageHeaderTitle"
    ></nz-page-header>
    <div class="page__inner__content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
