<nz-content style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, calc(-50% - 72px));">
  <nz-col style="display: flex; flex-direction: column; align-items: center;">
    <img src="/assets/images/logo.svg" alt="logo" class="logo">
    <form [formGroup]="form" nz-form style="margin-top: 40px; width: 300px;" (ngSubmit)="submit()" [appForm]="form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Field is required!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input placeholder="Username" trim formControlName="username"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Field is required!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input placeholder="Password" trim formControlName="password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button [nzLoading]="loading" nzType="primary" style="width: 100%; margin-top: 10px;">Sign in</button>
    </form>
  </nz-col>
</nz-content>
