.angular-editor {
  ::ng-deep {
    .angular-editor-toolbar {
      background-color: #ffffff;

      .angular-editor-button {
        &.active {
          background-color: #f1f1f1 !important;
          border-color: #f1f1f1 !important;
        }
      }
    }

    .angular-editor-textarea {
      max-width: 100%;
      height: auto;
      min-height: 32px;
      line-height: 1.5715;
      vertical-align: bottom;
      transition: all 0.3s, height 0s;

      &:hover,
      &:focus {
        border-color: #909e94 !important;
        border-right-width: 1px !important;
      }

      &:focus {
        border-color: #909e94 !important;
        border-right-width: 1px !important;
        outline: 0 !important;
        box-shadow: 0 0 0 2px rgb(110 146 121 / 20%) !important;
      }
    }
  }
}
