@import "../assets/styles/common";

.ant-layout {
  min-height: 100vh;
  max-height: 100vh;
  background-color: $color-white;
  overflow: auto;
}

.ant-layout-sider-collapsed {
  flex: 0 0 120px !important;
  max-width: 120px !important;
  min-width: 120px !important;
  width: 120px !important;
}

.ant-menu-inline-collapsed {
  border-right: 0;
  width: 100%;
}

.sidebar-logo {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 24px;

  a {
    display: block;
    width: 100%;
    max-width: 120px;

    .logo {
      width: 100%;
    }
  }

  i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: color .3s ease;

    &:hover {
      color: var(--nz-primary-color);
    }
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}

.progress {
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100000000000;
  position: absolute;
}

.progress {
  background-color: lighten($color-brand, 40%);
  overflow: hidden;

  .indeterminate {
    background-color: $color-brand;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: inherit;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
    }

    &::before {
      animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    }

    &::after {
      animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      animation-delay: 1.15s;
    }
  }
}

