<div class="progress" *ngIf="showProgressBar$ | async">
  <div class="indeterminate"></div>
</div>
<nz-layout>
  <nz-sider
    *appShowAuthed="true"
    nzCollapsible
    [nzTrigger]="null"
    nzTheme="light"
    nzWidth="226px"
    style="box-shadow: 2px 0 6px rgba(0,21,41,.35);"
    [(nzCollapsed)]="isCollapsed"
  >
    <div class="sidebar-logo">
      <a routerLink="/">
        <img src="/assets/images/logo.svg" alt="logo" class="logo">
      </a>
      <span>
        <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="isCollapsed = !isCollapsed"></i>
      </span>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter [nzMatchRouterExact]="item.exact" *ngFor="let item of menuItems; let i = index;">
        <a routerLink="{{item.routerLink}}">
          <i nz-icon nzType="{{item.icon}}"></i>
          <span>{{item.name}}</span>
        </a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-content style="position: relative; min-height: unset;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
