<div class="avatar-uploader">
  <nz-upload
    [nzAction]="uploadUrl"
    nzName="file"
    nzAccept="image/png, image/jpeg, image/jpg"
    nzListType="picture-card"
    [nzShowUploadList]="false"
    (nzChange)="handleChange($event)"
  >
    <i *ngIf="!imageUrl" class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
    <img *ngIf="imageUrl" [src]="imageUrl" style="width: 100%" />
  </nz-upload>
  <div class="uploaded-image-actions" *ngIf="imageUrl" >
    <i nz-icon nzType="delete" (click)="removeImage()"></i>
  </div>
</div>
