@import "../../../../assets/styles/common";

.avatar-uploader {
  width: 200px;
  height: 200px;
  position: relative;

  ::ng-deep {
    .ant-upload {
      width: 200px;
      height: 200px;

      img {
        max-width: 90%;
      }
    }
  }

  &:hover {
    .uploaded-image-actions {
      z-index: 1000000;
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }
  }

  i {
    cursor: pointer;
    font-size: 20px;
  }
}

.uploaded-image-actions {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba($color-black, .6);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity .1s;

  i {
    color: $color-white;
  }
}
