<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  [nzOkLoading]="loading"
  [nzWidth]="500"
  [nzFooter]="modalFooter"
  (nzOnCancel)="closeModal()"
>
  <nz-spin [nzSpinning]="loading">
    <div class="modal-content">
      <nz-tree
        #treeComponent
        [nzData]="treeCategories"
        nzDraggable
        nzBlockNode
        (nzOnDrop)="onDrop($event)"
        [nzExpandAll]="true"
        [nzExpandedIcon]="nzExpandedIcon"
      >
        <ng-template #nzExpandedIcon let-node>
          <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
        </ng-template>
      </nz-tree>
    </div>
    <ng-template #modalFooter>
      <nz-row nzJustify="end">
        <button nz-button nzType="default" (click)="closeModal()" [disabled]="loading">Abort</button>
      </nz-row>
    </ng-template>
  </nz-spin>
</nz-modal>
