<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  [nzOkLoading]="loading"
  [nzWidth]="900"
  [nzFooter]="modalFooter"
  (nzOnCancel)="closeModal()"
  (nzAfterClose)="afterCloseModal()"
>
  <nz-spin [nzSpinning]="loading">
    <div class="modal-content">
      <form *ngIf="form" [formGroup]="form" nz-form [appForm]="form" (ngSubmit)="submitForm()" id="add-edit-non-store-article-form">
        <div class="form-inner">
          <div class="form-inner__fields">
            <nz-form-item>
              <nz-form-label nzRequired nzFor="parentId">Select parent category</nz-form-label>
              <nz-form-control nzErrorTip="Field is required!">
                <nz-tree-select
                  nzDropdownClassName="categories-select"
                  [nzNodes]="treeCategories"
                  nzPlaceHolder=""
                  [nzDefaultExpandAll]="true"
                  formControlName="key"
                  [nzDisplayWith]="nzDisplayWith"
                  [nzTreeTemplate]="nzTreeTemplate"
                  [nzExpandedIcon]="nzExpandedIcon"
                >
                  <ng-template #nzTreeTemplate let-node>
                    {{ node.origin.name }}
                  </ng-template>
                  <ng-template #nzExpandedIcon let-node>
                    <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></i>
                  </ng-template>
                </nz-tree-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="name">Name</nz-form-label>
              <nz-form-control nzErrorTip="Field is required!">
                <input nz-input formControlName="name" id="name" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="description">Description</nz-form-label>
              <nz-form-control>
                <app-rich-text-editor
                  formControlName="description"
                  id="description"
                  placeholder=""
                  height="150px"
                ></app-rich-text-editor>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="form-inner__separator"></div>
          <app-avatar-uploader
            (loadingChanged)="uploading = $event"
            [imageKey]="form.get('imageKey').value"
            [fileDirectoryType]="fileDirectoryTypes.IMAGES"
            (imageKeyChanged)="form.get('imageKey').patchValue($event)"
          ></app-avatar-uploader>
        </div>
      </form>
    </div>
    <ng-template #modalFooter>
      <nz-row nzJustify="end">
        <button nz-button nzType="default" (click)="closeModal()" [disabled]="loading">Abort</button>
        <button nz-button nzType="primary" form="add-edit-non-store-article-form" [nzLoading]="loading || uploading">Save</button>
      </nz-row>
    </ng-template>
  </nz-spin>
</nz-modal>
