@import "../../../../../assets/styles/common";

.form-inner {
  display: flex;
  justify-content: space-between;

  &__separator {
    width: 1px;
    background-color: $color-gray-100;
  }

  &__fields {
    width: 60%;

    nz-form-label {
      width: 179px;
    }

    textarea {
      resize: none;
      height: 145px;
    }
  }
}

::ng-deep {
  .categories-select {
    .ant-select-tree-treenode:first-child {
      nz-tree-node-switcher {
        visibility: hidden !important;
        pointer-events: none !important;
      }
    }
  }
}
