@import "assets/styles/common";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nz-content {
  margin: 24px;
}

nz-sider + nz-layout {
  background-color: $color-gray-lighter !important;
}

nz-sider ~ nz-layout nz-content {
  background-color: $color-white;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;

  &__action {
    &:not(:last-child) {
      margin-right: 10px;
    }

    i {
      cursor: pointer;
      font-size: 16px;
      transition: color .3s ease;

      &:hover {
        color: var(--nz-primary-color);
      }
    }
  }
}

.text-center {
  text-align: center;
}

.d-none {
  display: none !important;
}

.reload-btn {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: color .3s ease;

  &--reloading,
  &:hover {
    color: var(--nz-primary-color);
  }

  &--reloading {
    pointer-events: none;
    animation: rotate 1.2s linear infinite;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
